.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.loading div {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 80px;
  background-color: #006400;
}

.loading div:first-child {
  transform: translateX(-30px);
}

.loading div:last-child {
  transform: translateX(30px);
}

.users {
  max-width: 1200px;
  margin: 0 auto;
}
